{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
      },
    }],
    "stage-3",
    "stage-2",
    "stage-1",
    "stage-0",
  ],
  "plugins": [
    // React
    "transform-react-jsx",
  ],

  "ignore": [
    "node_modules",
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",

        // React
        "transform-react-display-name",
        "transform-react-jsx-self",
      ],
    },
    "production": {
      "presets": [
        "babili",
      ],

      "plugins": [
        // minification
        "transform-inline-environment-variables",
        "transform-node-env-inline",

        // React
        "transform-react-constant-elements",
        "transform-react-inline-elements",
      ],
    },
  },
}
