{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current",
      },
      "useBuiltIns": "usage",
      "corejs": {"version": 3, "proposals": true},
      "shippedProposals": true,
    }],
  ],
  "plugins": [
    // React
    "transform-react-jsx",
  ],

  "ignore": [
    "node_modules",
  ],
  "env": {
    "development": {
      "plugins": [
        // React
        "transform-react-display-name",
        "transform-react-jsx-self",
      ],
    },
    "production": {
      "presets": [
        "minify",
        {"builtIns": false},
      ],

      "plugins": [
        // minification
        "transform-inline-environment-variables",
        "transform-node-env-inline",

        // React
        "transform-react-constant-elements",
        "transform-react-inline-elements",
      ],
    },
  },
}
