{
  "plugins": [
    /* Transform Plugins */
    // ES6 syntax that is not supported by Google Chrome, NodeJS, Webpack AND
    // Firefox
    "transform-es2015-destructuring",
    "transform-es2015-modules-commonjs",
    "transform-es2015-parameters",
    "transform-es2015-sticky-regex",
    "transform-es2015-template-literals",

    // React
    "transform-react-jsx",

    // ES7 Stage 3
    "transform-async-to-generator",
    "transform-exponentiation-operator",

    // ES7 Stage 2
    "transform-object-rest-spread",

    // ES7 Stage 1
    "transform-class-properties",
    "transform-export-extensions",

    // ES7 Stage 0
    "transform-do-expressions",
    "transform-function-bind",

    /* Syntax Plugins */
    // ES7 Stage 2
    "syntax-trailing-function-commas",
  ],
  "ignore": [
    "node_modules",
  ],
  "sourceMaps": "inline",
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
      ],
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
      ],
    },
  },
}
