md-parser {
  width: 100%;
  height: 100%;
  display: flex;
}

md-input {
  margin-right: 5px;
  width: 100%;

  & > textarea {
    width: 100%;
    height: 100%;
  }
}

md-output {
  overflow-y: auto;
  overflow-wrap: break-word;
  width: 100%;
  border: 1px solid white;
}
